# Github
GIT_REPO=bryanstitt/new-karuta-bot
GIT_BRANCH=main

# Discord auth
DISCORD_EMAIL=
DISCORD_PASSWORD=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=
CRON_OFFSET=

# Miscellaneous
LOG_LEVEL=20

# KGB API
API_TOKEN=
API_URL=
BOT_ID=
BOT_NAME=